.container {
  color: var(--text-color);
}

.title {
  font-size: var(--font-size-l);
}

.text {
  font-size: var(--font-size-m);
}

.error {
  color: red;
}

.primary {
  color: var(--primary-color)
}