
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/.loki/report.html
/.loki/report.json

# production
/build
/.idea
/dist
/storybook-static
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.loki/reference/chrome_laptop_features_LoginForm_Default.png
/.loki/reference/chrome_laptop_features_LoginForm_Is_Fetching.png
/.loki/reference/chrome_laptop_shared_Button_Disabled.png
/.loki/reference/chrome_laptop_shared_FetchAlert_Default.png
/.loki/reference/chrome_laptop_shared_Input_Dark.png
/.loki/reference/chrome_laptop_shared_Input_Light.png
/.loki/reference/chrome_laptop_shared_Modal_Dark.png
/.loki/reference/chrome_laptop_shared_Modal_Light.png
/.loki/reference/chrome_laptop_shared_Text_Default.png
/.loki/reference/chrome_laptop_shared_Text_Default_Light.png
/.loki/reference/chrome_laptop_shared_Text_Error.png
/.loki/reference/chrome_laptop_shared_Text_Only_Text.png
/.loki/reference/chrome_laptop_shared_Text_Only_Text_Light.png
/.loki/reference/chrome_laptop_shared_Text_Only_Title.png
/.loki/reference/chrome_laptop_shared_Text_Only_Title_Light.png
/extractedTranslations/en/translation.json
