.btn {
  cursor: pointer;
  border-radius: 2rem;
}

.primary {
  background: var(--primary-color);
  color: var(--inverted-text-color);
  border: 1px var(--primary-color) solid;


  &:active {
    background: var(--primary-dark-color);
  }
}

.warning {
  background: var(--warning-color);
  color: var(--text-color);
  border: 1px var(--warning-color) solid;

  &:active {
    background: var(--warning-dark-color);
  }
}

.contained {
  border-color: transparent;
}


.clear {
  padding: 0;
  background: transparent;
  color: var(--text-color);
  outline: transparent;
  border-color: transparent;

  &:active {
    background: transparent;
  }
}

.outline {
  color: var(--text-color);
  background: transparent;


  &:active {
    background: transparent;
  }
}

.disabled {
  opacity: 0.5;
}

.default {
  padding: 8px 16px;
}

.small {
  padding: 4px 8px;
}