.btn {
  padding: 8px 16px;
  color: var(--inverted-text-color);
  cursor: pointer;
  background: var(--primary-color);
  border-radius: 34px;
}

.clear {
  padding: 0;
  background: none;
  color: var(--text-color);
  outline: none;
  border: none;
}

.outline {
  color: var(--text-color);
  background: none;
  border: 1px var(--primary-color) solid;
}