.btn {
  padding: 8px 16px;
  color: var(--inverted-text-color);
  cursor: pointer;
  background: var(--primary-color);
  border-radius: 34px;

  &:active {
    background: var(--active-btn);
  }
}

.clear {
  padding: 0;
  background: transparent;
  color: var(--text-color);
  outline: transparent;
  border: transparent;

  &:active {
    background: transparent;
    border-color: transparent;
  }
}

.outline {
  color: var(--text-color);
  background: transparent;
  border: 1px var(--primary-color) solid;

  &:active {
    background: transparent;
    border-color: var(--active-btn);
  }
}