.app.dark {
  --bg-color: #222236;
  --inverted-bg-color: #9e9ee3;

  --primary-color: #b2fdf4;
  --secondary-color: #00d7cc;

  --inverted-primary-color: #333d41;
  --inverted-secondary-color: #344e65;
}