.app_dark_theme {
  --bg-color: #0C1214;
  --dark-bg-color: #090F11;
  --inverted-bg-color: #FFF;
  --second-bg-color: #151C1F;
  --primary-color: #5ED3F3;
  --primary-dark-color: #48a0b4;
  --active-btn: #89e4ff;
  --secondary-color: #555;
  --text-color: #DBDBDB;
  --inverted-text-color: #141C1F;
  --hint-color: #555;
  --warning-color: #D95757;
  --warning-dark-color: #753131;
  --save-color: #6CD98B;
  --icon-color: #74A2B2;
  --inverted-primary-color: #333d41;
  --inverted-secondary-color: #344e65;
}