.app.light {
  --bg-color: #faf0fd;
  --inverted-bg-color: #704977;

  --primary-color: #061313;
  --secondary-color: #82b6b6;

  --inverted-primary-color: #9fadec;
  --inverted-secondary-color: #99faf0;
}