.app_light_theme {
  --bg-color: #FFF;
  --inverted-bg-color: #090F11;
  --second-bg-color: #EFF5F6;
  --third-bg-color: #E2EEF1;
  --primary-color: #141C1F;
  --active-btn: #333434;
  --secondary-color: #ADBCC0;
  --text-color: #141C1F;
  --inverted-text-color: #DBDBDB;
  --hint-color: #ADBCC0;
  --cancel-color: #F77;
  --save-color: #62DE85;
  --icon-color: #5ED3F3;
  --inverted-primary-color: #9fadec;
  --inverted-secondary-color: #99faf0;
}