.app_yellow_theme {
  --bg-color: #F0C048;
  --dark-bg-color:#FFF3D6;
  --second-bg-color: #F2D791;
  --primary-color: #1D59FF;
  --primary-dark-color: #050607;
  --active-btn: #333434;
  --secondary-color: #ADBCC0;
  --text-color: #1B1311;
  --inverted-text-color: #DBDBDB;
  --hint-color: #B8B2A2;
  --warning-color: #FF5E5E;
  --warning-dark-color: #753131;
  --save-color: #52FA81;
  --icon-color: #4875F0;
  --inverted-primary-color: #9fadec;
  --inverted-secondary-color: #99faf0;
}