.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  transition: 0.3s ease-in-out;
}

.leftSide {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--inverted-primary-color);
}

.rightSide {
  display: flex;
  gap: 1rem;
}